{% extends 'base.html' %}
{% block title %}Success{% endblock title %}
{% block docstyle %}{% endblock docstyle %}
{% block stylesheet %}
<link rel="stylesheet" href="./../static/success.css">{% endblock stylesheet %}
{% block content %}

<div class="wrapperAlert position-absolute top-50 start-50 translate-middle mt-4">

    <div class="Successframe">

        <div class="topHalf">

            <p><svg viewBox="0 0 512 512" width="100" title="check-circle" >
                    <path
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                </svg></p>
            <h1>Success</h1>

            <ul class="bg-bubbles">
                <li class="rotatingeffect"></li>
                <li class="rotatingeffect"></li>
                <li class="rotatingeffect"></li>
                <li class="rotatingeffect"></li>
                <li class="rotatingeffect"></li>
                <li class="rotatingeffect"></li>
                <li class="rotatingeffect"></li>
                <li class="rotatingeffect"></li>
                <li class="rotatingeffect"></li>
                <li class="rotatingeffect"></li>
            </ul>
        </div>

        <div class="bottomHalf">

            <p class="text-light" style="font-weight: 2px;">
                {% for i in id %}
                {{msg}} ={{i.did}}{{i.rid}}<br>
                Quantity :{{i.dqty}} {{i.rqty}} mL<br>
                {{i.ddate}}{{i.rdate}}
                {% endfor %}
                {% if msg1 %}
                {{msg1}}<br>
                {{msg2}}<br>
                {% endif %}
            </p>
            <button id="alertMO"><a href="/home" style="text-decoration: none; color:white;"> Moving On</a></button>
        </div>
    </div>
</div>



{% endblock content %}